#contactoWrapper {
  margin-block-start: 15%;
  margin-block-end: 15%;
}

.article {
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
}

.article2 {
  display: flex;
  flex-direction: row-reverse;
  justify-content: space-evenly;
  margin-block-start: 4%;
}

.workTitle2 {
  text-align: end;
}

#contactoT {
  display: flex;
  justify-content: center;
}

h2 {
  font-size: 3rem;
}

h3 {
  font-size: 2rem;
}

img {
  width: 20%;
  filter: grayscale(1);
}

img:hover {
  filter: grayscale(0);
  transition: 2s ease;
}


.subContacto {
  font-size: 1.5rem;
  text-align: center;
}

.socialContact {
  text-align: center;
  margin-block-start: 2%;
}

.socialContact:hover {
  color: var(--rojo);

}

.miText {
  font-size: 1.5rem;
}

.tituloContacto {
  text-align: center;
}

@media (max-width:600px) {
  .socialContact {

    display: flex;
    flex-direction: row;
    align-content: center;
    align-items: center;
    justify-content: flex-end;
  }

  .article {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  .descr {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }

  img {
    width: 100%;
    height: auto;
  }
  .article2 {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-content: center;
    justify-content: center;
    align-items: center;
  }
}