.footer {
  display: flex;
  flex-direction: column;
  justify-content: center;
  color: var(--rojo);
  letter-spacing: 3px;
  text-shadow: whitesmoke -1px 2px 1px;
  flex-wrap: wrap;
  align-content: center;
  align-items: center;
}
h4.footer{
  font-size:  1.5rem;
}

@media (max-width:600px) {
  h4.footer{
    text-align: center;
    font-size:  1rem;
  }

}