#inicioNav {margin-block-start: 16px;
  position: fixed;
}
ul {
  list-style: none;
}
li {
  display: inline-block;
  font-size: x-large;
  margin: 0px 20px 0px 20px;
}

ul,
li,
a,
a:link,
a:visited,
a:active {
  text-decoration: none;
  color: var(--blanco);
}
a:hover {
  color: var(--rojo);
  transition: 1.5s ease;
}

@media (max-width:600px){
  #inicioNav{
    position: initial;
  }
}